.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg_image {
  background-image: url("/public/bg-desktop-light.jpg");
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  text-transform: uppercase;
  font-size: xxx-large;
  font-weight: bold;
  text-align: start;
  color: white;
}

.text-center {
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
  margin: -30px 0 80px 0;
  display: block;
  text-align: center;
  font-weight: bold;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(91, 36, 123, 0.719);
  border-radius: 3px;
  padding: 70px 100px;
}

.input-container {
  position: relative;
  margin-bottom: 25px;
}

.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.input-container input {
  border: 0;
  border-bottom: 1px solid #000000;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;

}

.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffff;
}

.btn {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
  outline: none;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.input-container input:focus~label,
.input-container input:valid~label {
  top: -12px;
  font-size: 12px;
}

.input {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.input__box {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  width: 60%;
  border-radius: 5px;
  padding: 20px;
  font-size: large;
  border: none;
  transition: 0.2s;
  background-color: white;

}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}


.todos__heading {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: black;
  background-color: white;
}

.bigbox {
  padding: 50px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 30px;
}

.container {
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 30px;
  background-color: transparent;
}

.todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: medium;
  background-color: transparent;
  box-shadow: black;
  border-radius: 10px;
}

.todos-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.todos__single {

  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: white;
  transition: 0.2s;
  border-radius: 8px;
  width: 480px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.todos__single--text{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer {

  border: none;
  background-color: white;
  width: 480px;
  display: flex;
  justify-content: space-around;
  border-radius: 7px;
  margin-top: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button__footer {
  background-color: transparent;
  border: none;
  font-size: small;
  color: gray;
}
.button__footer:focus{
  color: black;
  font-weight: bold;
}
.button__footer:active{
  color: black;
  font-weight: bold;
}
.button__footer:visited{
  color: black;
  font-weight: bold;
}
.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

.remove {
  background-color: rgb(235, 103, 80);
}

.drag {
  box-shadow: 0 0 20px black;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
  margin-left: 15px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.doneicon {
  font-size: 25px;
  cursor: pointer;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: transparent;
  color: 4#000000;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.login__full {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.login__heading {
  font-size: xxx-large;
  font-weight: bold;
  text-align: center;
  color: black;
}

.user__input {
  display: flex;
  justify-content: center;
  background: #ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width: 50%;
  color: #AAAAAA;
  margin-top: 10px;
  font-size: 1em;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .heading {
    font-size: xx-large;
    text-align: center;
    display: flex;
  }

  .input__box {
    width: 280px;
    
  }

  .todos__single {
    width: 300px;
    padding: 8px;
  }
  .todos__single--text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .todos__single--text.long-text{
    white-space: normal;
    word-wrap: ellipsis;
  }

  .bg_image {
    background-image: url("/public/bg-mobile-light.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
 
  }

  .footer {
    width: 100%;
    overflow: hidden;
    padding: 5px;
  }

  .bigbox {
    width: 50%;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .text-center {
    font-size: 18px;
    margin: -20px 0 50px 0;
  }

  .box {
    padding: 50px 20px;
    width: 60%;
  }

  .input-container label {
    font-size: 14px;
  }

  .input-container input {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 30px;
  }
}